<%- include('header') %>
    <h1 class="title is-1 mt-5 uppercase"><%= title || body.name %></h1>

    <% if (post && !!fail) { %>
      <p class="subtitle is-3 red">Error ocurred: <%= fail %></p>
    <% } else {%>
      <p class="subtitle is-3">Let's create something new</p>
    <% } %>

        <%
          const action= update  ? `/category/${body._id}/update` : "/category/create";
        %>
    
      <% if (true) { %>
        <form class="width-500" action="<%= action %>" method="post" >
          <input type="hidden" name="_id" value="<%= body._id %>">
          <div class="field">
            <label class="label">Category name:</label>
            <div class="control">
              <input class="input" value="<%= body.name %>" type="text" name="name" placeholder="Category name" required />
            </div>
          </div>
          <div class="field">
            <label class="label">Admin password:</label>
            <div class="control">
              <input required class="input" type="password" name="password" placeholder="admin password" />
            </div>
          </div>
          <input class="button is-primary" type="submit" value="Submit" />
        </form>
      <% } %>


<%- include('footer') %>